:root {
  --color-dark: #444444;
  --color-light: #F0D9B5;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Roboto',source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
