.board {
  width: calc(4rem * 8);
  height: calc(4rem * 8);
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 3px solid;
  border-radius: 20px;
  overflow: hidden;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}
.white {
  background: #F0D9B5;
}
.black {
  background: #B58863;
}