.info-board {
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(4rem * 8);
    padding: 1rem;
    border: 3px solid;
    border-radius: 20px;
    overflow: hidden;
    background: #F0D9B5;
}

.info-board__player {
    width: fit-content;
    display: flex;
    align-items: center;
}

.info-board__text {
    padding-right: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.info-board__color {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
}

.white-player {
    background: #fff;
}

.black-player {
    background: #000;
}


